Testing site: 
http://itcareer.pythonanywhere.com/.
Checklist: 
https://docs.google.com/spreadsheets/d/1nNi7k8aUYNtdBYrfcbWd1Qh5xUI7wgwrNdRxgLXX_Ok/edit#gid=0


Требования к тестированию формы.


При обновлении страницы сообщение об ошибке должно исчезать.
При обновлении страницы поля с введенными данными исчезают.
При неправильном заполнении нескольких полей ошибка высвечивается по каждому полю.
Функционирует на браузерах: Yandex, Chrome, Microsoft edge.


Поле Name:


Поле для записи текстовых символов.
Количество символов от 2 до 128.
Поле обязательно к заполнению.
В поле используются только спец.символы, цифры, латинские буквы.
Допустимые спец. символы: тире; ниж. подчеркивание; пробел; точка (“-”;” _”;
” .”; “ “).
Не допускается ввод подряд двух и более спец. символов.
Не регистрозависимое.
При нажатии на поле рамка подсвечивается синим цветом.
При вводе недопустимого символа рамки поля подсвечиваются красным.
При заполнении поля “Name” недопустимыми символами после нажатия на “submit” появляется сообщение об ошибке.
При перезагрузке страницы в поле не должны сохранятся ранее введенные данные.
Поле “Name” может начинаться с лат. буквы, спец. символа, цифры.
Поле “Name” может заканчиваться на лат. букву, спец. символ, цифру.
Поле “Name” может содержать только цифры
Поле “Name” может содержать только лат. буквы
Поле “Name”не может содержать только спец. символы
Форма может принимать данные из буфера обмена.
Скопировать или вырезать в буфер обмена возможно.
Перенос фокуса на следующее поле осуществляется при помощи кнопки Tab или нажатием левой кнопкой мыши.
В поле присутствует плейсхолдер “Name?”.
При нажатии на поле плейсхолдер должен исчезать.
При заполнении только поля “Name” после нажатия на “submit” поле очищается.
Возможен ввод одинаковых значений с полями: “Surname”; “Email”; “Password”.
В поле возможен ввод слов: “Name”; “Surname”; “Email”; “Password”.


Поле Surname:


Поле для записи текстовых символов.
Количество символов от 2 до 128.
Поле не обязательно к заполнению.
В поле используются только спец.символы, цифры, латинские буквы.
Допустимые спец. символы: тире; ниж. подчеркивание; пробел; точка (“-”;” _”;     ” .”; “ “).
Не допускается ввод подряд двух и более спец. символов.
Не регистрозависимое.
При нажатии на поле рамка подсвечивается синим цветом.
При вводе недопустимого символа рамка поля подсвечивается красным.
При заполнении поля “Surname” недопустимыми символами после нажатия на “submit” появляется сообщение об ошибке.
При перезагрузке страницы в поле не должны сохранятся ранее введенные данные.
Поле “Surname” может начинаться с лат. буквы, спец. символа, цифры.
Поле “Surname” может заканчиваться на лат. букву, спец. символ, цифру.
Поле “Surname” может содержать только цифры
Поле “Surname” может содержать только лат. буквы
Поле “Surname” не может содержать только спец. символы
Форма принимает данные из буфера обмена.
Скопировать или вырезать в буфер обмена возможно.
Перенос фокуса на следующее поле осуществляется при помощи кнопки Tab или нажатием левой кнопкой мыши.
В поле присутствует плейсхолдер “Surname ?”.
При нажатии на поле плейсхолдер должен исчезнуть.
При заполнении только поля “Surname” после нажатия на “submit” поле очищается.
Возможен ввод одинаковых значений с полями: “Name”; “Email”; “Password”.
В поле возможен ввод слов: “Name”; “Surname”; “Email”; “Password”.


Поле Email:


Поле для записи текстовых символов.
Поле обязательно к заполнению.
В поле используются только спец.символы, цифры, латинские буквы.
Допустимые спец. символы: тире; ниж. подчеркивание; коммерческое at; точка (“@”;” _”;” .”; “-“).
Обязательное наличие символов: “@” и  “.”. 
После символа “@” в тексте должен присутствовать символ “.”.
До “@” от 4 до 64 символов.
После “@” до последнего символа “.” от 2 до 32 символов.
После последнего символа “.” от 2 до 16 символов.
Не допускается ввод подряд двух и более спец. символов.
Не допускается ввод более одного спец. символа “@”.
Не регистрозависимое.
При нажатии на поле рамка подсвечивается синим цветом.
При вводе недопустимого символа рамка поля подсвечиваются красным.
При заполнении поля недопустимыми символами после нажатия на “submit” появляется сообщение об ошибке.
При перезагрузке страницы в поле не должны сохранятся ранее введенные данные.
Поле “Email” должно начинаться с лат. буквы или цифры.
Поле “Email” должно заканчиваться на лат. букву.
Поле “Email” не может содержать только спец. символы
Доменное имя может состоять только из цифр.
Доменная зона не может состоять только из цифр.
Форма может принимать данные из буфера обмена.
Скопировать или вырезать в буфер обмена возможно.
Перенос фокуса на следующее поле осуществляется при помощи кнопки Tab или нажатием левой кнопкой мыши.
В поле присутствует плейсхолдер “ Your email address”.
При нажатии на поле плейсхолдер должен исчезнуть.
При заполнении только поля “Email” после нажатия на “submit” поле очищается.
В поле возможен ввод слов: “Name”; “Surname”; “Email”; “Password”.




Password:


Поле для записи текстовых символов.
Поле обязательно к заполнению.
Количество символов от 8 до 16.
В поле используются только спец.символы, цифры, латинские буквы.
Обязательное наличие одного из символов: “@” ; “!” “.”. 
Обязательное наличие минимум одной цифры, буквы в нижнем регистре, буквы в верхнем регистре.
Регистрозависимое.
Возможно наличие нескольких спец.символов ( в т. ч. подряд).
При нажатии на поле рамка подсвечивается синим цветом.
При перезагрузке страницы в поле не должны сохранятся ранее введенные данные.
Вводимые символы должны закрываться булетами
Форма может принимать данные из буфера обмена.
Скопировать или вырезать в буфер обмена невозможно.
Перенос фокуса на следующее поле осуществляется при помощи кнопки Tab или нажатием левой кнопки мыши.
В поле присутствует плейсхолдер “ Enter a password”.
При нажатии на поле плейсхолдер должен исчезнуть.
При заполнении только поля “Password” после нажатия на “submit” поле очищается.
В поле возможен ввод слов: “Name”; “Surname”; “Email”; “Password”.




Кнопка “Submit”:


Кнопка должна затемняться при наведении фокуса.
Срабатывает при нажатии клавиши Enter или левой кнопки мыши.